@import url(variable.css);
.body__blog {
    background-color: var(--color-3);
     
}

.header__blog {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    width: 97%;

}

.ul__menu__blog {
    display: flex;
    gap: 66px;
    padding-right: 159px;
    font-family: "Montserrat-SemiBold";
    color: var(--color-1);


    li{
        z-index: 10;
        list-style: none;
    }

    a{
        text-decoration: none;
    }

    a:visited {
        color: var(--color-1);
    }
}


.header2__blog {
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    padding-left: 3svw;
    padding-top: 80px;

    .divmenu2__blog{
        .recuadro{
            padding-right: 20px;
            display: flex;
            list-style: none;
            background: var(--color-4);
            width: 113px;
            height: 28px;
            font-family: "Montserrat-SemiBold";
            font-size: 15px;
            justify-content: center

        }
    }
}
.divmenu2__blog img{
    width: 95svw;
}

.ul__menu2__blog {
    display: flex;
    gap: 5.3svh;
    padding-left: 25svw;
    font-size: 15px;
    font-family: "Montserrat-SemiBold";
    color: var(--color-1);
    position: relative;

    li{
        list-style: none;
        background: none;

    }
    
}
 
.section__img1 {
    img{
        padding-top: 40svh;
        padding-left: 1svh;
        width: 90%;
        padding-right: 1svh;
    }
}

@media (min-width: 576px){
    .section__img1 {
        img{
            padding-top: 208px;
            padding-left: 26px;
            width: 150vh;

        }
    }

}


.maintext{
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 50svw;
    top: 75svw;
    margin-right: 20px;

    .card { 
        background-color: rgba(20, 94, 42, 0.815);
        border-radius: 30px;
        padding: 20px 30px;
        max-width: 500px;
        color: white;
        position: relative;
        
    }
        
    .card h2 {
        font-family: "Montserrat-Regular";
        font-size: 5px;
        margin: 0 0 10px;
        font-weight: normal;
        color: var(--color-1)
    }
    
    .card h1 {
        font-family: "Montserrat-SemiBold";
        font-size: 6px;
        margin: 10px 0;
        line-height: 1.4;
        padding-top: 2svw;
    }
    
    .card p {
        font-family: "Montserrat-Medium";
        font-size: 6px;
        line-height: 1.2;
    }
    
    .card button {
        font-family: "Montserrat-Regular";
        background-color: var(--color-1);
        border: none;
        border-radius: 20px;
        font-size: 6px;
        margin-left: 9svw;
    } 
    
}

@media (min-width: 576px){
    .maintext{
        position: absolute;
        display: flex;
        flex-direction: column;
        left: 60svw;
        top: 25svw;
    
        .card {
            background-color: rgba(20, 94, 42, 0.815);
            border-radius: 15px;
            padding: 20px 30px;
            max-width: 500px;
            color: white;
            position: relative;
            
        }
            
        .card h2 {
            font-family: "Montserrat-Regular";
            font-size: 28px;
            margin: 0 0 10px;
            font-weight: normal;
            color: var(--color-1)
        }
        
        .card h1 {
            font-family: "Montserrat-SemiBold";
            font-size: 28px;
            margin: 10px 0;
            line-height: 1.4;
            padding-top: 2svw;
        }
        
        .card p {
            font-family: "Montserrat-Medium";
            font-size: 25px;
            line-height: 1.2;
        }
        
        .card button {
            font-family: "Montserrat-Regular";
            margin-top: 20px;
            background-color: var(--color-1);
            padding: 10px 20px;
            border: none;
            border-radius: 20px;
            font-size: 24px;
            cursor: pointer;
            margin-left: 9svw;
        } 
    }
}



.cuadros1 {
    display: flex;
    flex-direction: row;
    height: 40svw;
    padding-block-end: 50px;
    width: 97svw;
    
    & > .carousel-item {
      flex: 1;
      flex-grow: 1;
      min-width: 30%;
      background-color: var(--color-4);
      margin: 1svh;
    } 

    div{
        display: flex;
        flex-direction: column;
        width:31.04vw ;
        height: 41.18vw;
        background-color: rgba(20, 94, 42, 1);
        border-radius: 2.08vw;
        
        img{
            position: absolute;
            top: 55.5vw;
            height: 19.72svw;
            display: flex;
            align-self: center;
        }

        h2{
            font-family: "Montserrat-SemiBold";
            font-size: 2svw;
            position: absolute;
            top: 75svw;
            display: flex;
            align-self: center;
            color: var(--color-1);
        }

        p{
            position: absolute;
            top: 80svw;
            font-family: "Montserrat-Regular";
            font-size: 1.38svw;
            display: flex;
            align-self: center;
            color: var(--color-1);
            width:28.47svw ;
            height: auto;
        }

        button{
            font-family: "Montserrat-Regular";
            font-size: 1.388svw;
            border: none;
            position: absolute;
            display: flex;
            align-self: center;
            top: 90svw ;
            width: 9svw;
            height: 3svw;
            justify-content: center;
            align-items: center;
            border-radius: 1svw;
            background-color: var(--color-1);
            cursor: pointer;
        }

    }
}



@media (max-width: 576px){
    .cuadros1{
        div{
            img{
                position: static;
            }

            h2{
                position: static;
            }

            p{
                position: static;
            }

            button{
                position: static;
            }
        }
    }
}







.cuadros2 {
    display: flex;
    flex-direction: row;
    height: 40svw;
    width: 97svw;
    
    & > .carousel-item {
      flex: 1;
      flex-grow: 1;
      min-width: 30%;
      background-color: var(--color-4);
      margin: 1svh;
    } 

    div{
        display: flex;
        flex-direction: column;
        width:31.04vw ;
        height: 41.18vw;
        background-color: rgba(20, 94, 42, 1);
        border-radius: 2.08vw;
        
        img{
            position: absolute;
            top: 98svw;
            height: 19.72svw;
            display: flex;
            align-self: center;
        }

        h2{
            font-family: "Montserrat-SemiBold";
            font-size: 2svw;
            position: absolute;
            top: 117.5svw;
            display: flex;
            align-self: center;
            color: var(--color-1);
        }

        p{
            position: absolute;
            top: 122svw;
            font-family: "Montserrat-Regular";
            font-size: 1.38svw;
            display: flex;
            align-self: center;
            color: var(--color-1);
            width:28.47svw ;
            height: auto;
        }

        button{
            font-family: "Montserrat-Regular";
            font-size: 1.388svw;
            border: none;
            position: absolute;
            display: flex;
            align-self: center;
            top: 133svw ;
            width: 9svw;
            height: 3svw;
            justify-content: center;
            align-items: center;
            border-radius: 1svw;
            background-color: var(--color-1);
            cursor: pointer;
        }

    } 
}


@media (max-width: 576px){
    .cuadros2{
        div{
            img{
                position: static;
            }

            h2{
                position: static;
            }

            p{
                position: static;
            }

            button{
                position: static;
            }

        }
    }
}



.footercontent{
    
    display: flex;
    flex-direction: column;
    
    
    h2{
        font-size: 2svw; 
        top: 157.22svw;
        position: absolute;
        font-family: "Montserrat-Bold";
        color: var(--color-1);
        align-self: center;
        display: flex;

    }

    p{
        position: absolute;
        top: 161svw;
        align-self: center;
        display: flex;
        color: var(--color-1);
        font-family: "Montserrat-Regular";
        width: 60.138svw;
        font-size: 1.38svw;
        text-align: center;

        

    }

    img{
        position: absolute;
        top: 170svw;
        color: var(--color-1);
        align-self: center;
        display: flex;
        width: 21.11svw;
        height: auto;

    }

}


.copyright{
    font-family: "Montserrat-Regular";
    position: absolute;
    top: 175.138svw;
    left: 0.416svw;
    font-size:  1.38svw;
    color: var(--color-1);
    padding-bottom: 1svw;

}

@media (max-width: 576px){
    .footercontent{
        display: flex;
        flex-direction: column;
        
        h2{
            position: static;
        }
    
        p{
            position: static;
        }
    
        img{
            position: static;
        }
    
    }

    .copyright{
        position: static;
    }
}