@import url('../css/variable.css');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/************ header ************/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
}
.ul_menu{
    font-family: "Montserrat-SemiBold";
    display: flex;
    gap: 66px;
    padding-right: 159px;
    color: var(--color-1);
}
.ul_menu li{
    list-style: none;
    font-family: "Montserrat-SemiBold";
}
.ul_menu li a{
    color: var(--color-1);
    text-decoration: none;
}
/************ main ***********/
.section_home {
    background-image: linear-gradient(#376e4072, #071917d5), url("../storage/img/banner.png");
    background-image: linear-gradient(var(--color-2), var(--color-3)100%), var(--banner-1);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 140svh;
}
.article_home{
    width: 626px;
    height: 360px;
    position: relative;
    left: 22svw;
    top: 47svh;
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: var(--color-1);
}
.article_home span{
    font-size: 28px;
    font-family: "Montserrat-SemiBold";
}
.article_home h1{
    font-size: 75px;
    font-family: "Montserrat-SemiBold";
}
.article_home p{
    width: 340px;
    font-family: "Montserrat-Medium";
}
.divlogo{
    top: 5px;
    left: 5px;
}
.section_icon{
    background: var(--color-3);
    display: flex;
    justify-content: space-evenly;
}

/*** version movil ****/
@media (max-width: 960px) {
    .header{
        padding: 15px;
    }
    .ul_menu{
        gap: 15px;
        padding-right: 15px;
    }
    .section_home{
        display: flex;
        justify-content: space-around;
    }
    .article_home{
        left: 0;
    }
    .article_home h1{
        font-size: 70px;
    }
    .section_icon{
        justify-content: space-around;
    }
    .section_icon img{
        width: 45px;
        height: 45px;
        object-fit: contain;
    }
}
@media (max-width: 576px) {
    .header{
        /*background: blue;*/
        justify-content: normal;
    }
    .div_logo{
        flex: 1;
    }
    .div_menu{
        width: 100%;
    }
    .ul_menu{
        display: flex;
        justify-content: center;
        padding-right: 0;
    }
    .article_home{
        top: 25svh;
    }
    .article_home h1{
        font-size: 60px;
    }
    .section_home{
        display: flex;
        justify-content: normal;
        padding-left: 15px;
        padding-right: 15px;
        height: 95svh;
    }

}

/******* segunda parte ********/
.section_urban{
    background-color: var(--color-3);
    display: flex;
    padding-top: 32px;
    flex-direction: column;
    width: 100%;
    img{
        background-color: var(--color-3);
        justify-content: center;
        padding-left: 2svh;
        padding-right: 2svh;
        width: 100%;
    }
    .article_urban{
        position: absolute;
        padding-left: 16svh;
        padding-top: 52svw;
    }
    h1{
        font-family: "Montserrat-SemiBold";
        color: var(--color-1);
        font-size: 6svh;
        padding-top: 0svw;
    }
}
.section_graphics{
    background-color: var(--color-3);
    display: flex;
    padding-top: 32px;
    flex-direction: column;
    width: 100%;
    img{
        background-color: var(--color-3);
        justify-content: center;
        padding-left: 2svh;
        padding-right: 2svh;
        width: 100%;
    }
    .article_graphics{
        position: absolute;
        padding-left: 20svh;
        padding-top: 48svw;
    }
    h1{
        font-family: "Montserrat-SemiBold";
        color: var(--color-1);
        font-size: 6svh;
        padding-top: 0svw;
    }
}
.section_art{
    background-color: var(--color-3);
    display: flex;
    padding-top: 32px;
    flex-direction: column;
    width: 100%;
    img{
        background-color: var(--color-3);
        justify-content: center;
        padding-left: 2svh;
        padding-right: 2svh;
        width: 100%;
    }
    .article_art{
        position: absolute;
        padding-left: 15svh;
        padding-top: 49svw;
    }
    h1{
        font-family: "Montserrat-SemiBold";
        color: var(--color-1);
        font-size: 6svh;
        padding-top: 0svw;
    }
}
.section_title{
    font-family: "Montserrat-Medium";
    color: var(--color-1);
    background: var(--color-3);
    font-size: 45px;
    padding-top: 16px;
    padding-left: 50px;
}
.carousel {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    background: var(--color-3);
    padding-top: 32px;
    
    & > .carousel-item {
        display:flex;
        flex-direction: column;
        flex-grow: 1;
        min-width: 23%;
        background-color: #145E2A;
        margin: 05px;
        border-radius: 30px;
        justify-content: center;
        align-content: center;
        padding: 50px 20px 100px;
    }
    h2{
        font-family: "Montserrat-SemiBold";
        color: var(--color-1);
        padding-top: 30px;
        font-size: 28px;
    }
    p{
        font-family: "Montserrat_Regular";
        color: var(--color-1);
        padding-top: 28px;
        font-family: 20px;
    }
    button{
    font-family: "Montserrat_Regular";
    font-size: 20px;
    border-radius:30px;
    margin-top: 50px;
    margin-left: 82px;
    width: 45%;
    height: 48px;
  }
}
footer{
    background: var(--color-3);
    display: flex;
    justify-content: center;
    gap: 36.5px;  
}

/********** pagina blog ************/
.header_blog{
    background: var(--color-3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
}
.div_bloglog{
    /* background: green; */
}
.div_menu_blog{
    /* background: yellow; */
    padding-left: 905px;
}
.ul_menu_blog{
    /* background: violet; */
    font-family: "Montserrat-SemiBold";
    display: flex;
    color: var(--color-1);
    gap: 56px;
}
.ul_menu_blog li{
    /* background: orange; */
    list-style: none;
    font-family: "Montserrat-SemiBold";
}
.ul_menu_blog li a{
    color: var(--color-1);
    text-decoration: none;
}
.div_fotmen_blog{
    /* background: blue; */
    padding-block-end: 32px;
}
.div_fotmen_blog img{

}
