
@font-face {
    font-family: 'montserratMedium';
    src: url('../storage/font/Montserrat-Medium.ttf');
}
@font-face {
    font-family: 'montserratBold';
    src: url('../storage/font/Montserrat-SemiBold.ttf');

}