:root{
    --color-1: #eee;
    --color-2: #376e4014;
    --color-3: #071917;
    --banner-1: url(../storage/img/banner.png);
}
@font-face {
    font-family: "Montserrat-SemiBold";
    src: url('../storage/font/Montserrat-Medium.ttf');
}
@font-face {
    font-family: "Montserrat-Medium";
    src: url('../storage/font/Montserrat-SemiBold.ttf');
}