<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body class="body_blog">
    <header class="header_blog">
        <div class="div_bloglog">
            <img src="../storage/img/logo.png" alt="logo">
        </div>
        <div class="div_menu_blog">
            <ul class="ul_menu_blog">
                <li><a href="#">Blog</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
        <div class="div_fotmen_blog">
            <img src="../storage/img/Vector (1).png" alt="usuario">
            <img src="../storage/img/Vector.png" alt="usuario">
        </div>
        <section class="section_blog-dos">
            <div class="imagen_linea">
                <img src="../storage/img/Line 1.png" alt="">
                <div class="header_button">
                    <li class="header_button-li">Latest Blog</li>
                    <div class="header_lista">
                        <li>Urban Planning</li>
                        <li>Graphics Design</li>
                        <li>Web Design</li>
                        <li>UX/UI Design</li>
                        <li>Technology</li>
                    </div>
                </div>
            </div>
        </section>
    </header>
    <main>
        <section class="section_imag-uno">
            <img src="../storage/img/imagen blog 1.png" alt="">
            <div class="section_texto-img">
                <span>Urban Planning</span>
                <h2>Lörem ipsum europlande krohiskap panstik, förväntis.</h2>
                <p>Lörem ipsum europlande krohiskap panstik, förväntis. Klicktivism plada. Ekrofiling hedår, medan al,
                    monoktig härgjord. Supranylingar kask. Geologi byligt dikapobelt. </p>
                <button>Read More</button>
            </div>
        </section>
    </main>
</body>

</html>