<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <header class="header_blog">
        <div class="div_bloglog">
            <img src="../storage/img/logo.png" alt="logo">
        </div>
        <div class="div_menu_blog">
            <ul class="ul_menu_blog">
                <li><a href="#">Blog</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
        <div class="div_fotmen_blog">
            <img src="../storage/img/Vector (1).png" alt="usuario">
            <img src="../storage/img/Vector.png" alt="usuario">
        </div>
    <main>
        <section>
            <div>
                <img src="../storage/img/Line 1.png" alt="">
                <div>
                    <button>Latest Blog</button>
                    <div>
                        <h4>Urban Planning</h4>
                        <h4>Graphics Design</h4>
                        <h4>Web Design</h4>
                        <h4>UX/UI Design</h4>
                        <h4>Technology</h4>
                    </div>
                </div>
            </div>
        </section>
    </main>
    </header>
</body>
</html>